body {
    font-family:"Spectral", serif;
}

.btn {
    padding: 0;
}

.scroll {
    height:30px;
    width:30px;
}

.scroll-div {
    height: 10rem;
}

h1 {
    color: olive;
    font-size: 5rem;
}

.card {
    height: 40rem;
    border:none;
}
