body {
    font-family: "Spectral", serif;
    margin-left: 22%;
    margin-right: 22%;
}

h1 {
    color: #7F8E45;
} 

h2 {
    font-weight: bold;
}

.btn {
    padding: 0;
    color:#7F8E45;
    text-decoration: underline;
}

@media screen and (max-width: 1300px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }   

    h1 {
        font-size: x-large;
        color: #7F8E45;
    }

    h2 {
        font-size: large;
        font-weight: bold;
    }

    p,ul,li {
        font-size: medium;
    }
}

@media screen and (max-width: 700px) {
    /* .hide {
        display: none;
    } */
    
    h1 {
        font-size: large;
        color: #7F8E45;
        
    }

    h2 {
        font-size: small;
        font-weight: bold;
    }

    p,ul,li {
        font-size:xx-small
    }

    .btn {
        padding: 0;
        color:#7F8E45;
        text-decoration: underline;
        font-size:xx-small
    }
}

figcaption, .persona-title {
    color: #67723c;
}

.scroll {
    height:30px;
    width:30px;
}

.card-div {
    /* height: 20rem; */
    height: 50%;
    width:50%;
    margin-bottom: 10%;
}

.card {
    border:none;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.row {
    height: 50%;
}

.sketch {
    width: 30%;
    height: 30%;
}

#storyboard {
    width:100%;
    height:50%;
}

.persona-card {
    width:50%;
    height:50%;
}

.col-2 {
    background-color: #939C72;
}

.white-bg {
    background-color: white;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.8em;
  }

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #939C72;
  }

li::marker {
    color:#67723c;
}

.development-btn {
    font-size:large;
    font-weight:bold;
    text-decoration: underline;
    color:#7F8E45;
}

#kiosk-sketch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 40%;
    height : 40%;
    padding: 5%;
}

.alert-secondary {
    background-color: #d8dbcd;
}
