body {
    font-family:"Spectral", serif;
}

h1 {
    color: #7F8E45;
    font-size: 5rem;
} 

h2 {
    font-weight: bold;
}
.btn {
    padding: 0;
}

.scroll {
    height:30px;
    width:30px;
}

.card-div {
    height: 20rem;
    width:50%;
}

.card {
    border:none;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.row {
    height: 15rem;
}

.sketch {
    width: 30%;
    height: 30%;
}

.col-2 {
    background-color: #939C72;
}

.white-bg {
    background-color: white;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.8em;
  }

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #939C72;
  }

li::marker {
    color:#7F8E45;
}

.development-btn {
    font-size:large;
    font-weight:bold;
    text-decoration: underline;
    color:#7F8E45;
}


